@font-face {
  font-family: Triforce;
  src: url(fonts/Triforce.ttf);
}

@font-face {
  font-family: HyliaSerif;
  src: url(fonts/HyliaSerifBeta-Regular.otf);
}

@font-face {
  font-family: rodin-m;
  src: url(fonts/rodin-pro-m.otf);
}

@font-face {
  font-family: rodin-db;
  src: url(fonts/rodin-pro-db.otf);
}

:root {
  --white: #ffffff;
  --gold: #b99f65;
  --black: #000000;
  --dark-red: #170606;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "HyliaSerif", sans-serif;
  color: white;
  background-image: url(./img/background.jpg);
  backdrop-filter: blur(3px);
  background-size: cover;
}

/* Header and Nav  */

header {
  background-color: rgba(0, 0, 0, 0.8);
}

header:before,
header:after {
  height: 2px;
  display: block;
  content: "";
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(185, 159, 101, 1) 35%,
    rgba(185, 159, 101, 1) 65%,
    rgba(0, 0, 0, 0) 100%
  );
}

nav {
  font-size: clamp(1rem, 2vw, 1.3rem);
  padding: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  max-width: 500px;
}

.nav-link {
  color: var(--gold);
  margin: 0 20px;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--white);
}

/* Body content wrapper  */

#content {
  width: 85vw;
  max-width: 800px;
  height: 80vh;
  max-height: 800px;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Home section  */

.nameplate {
  text-shadow: 1px 1px 2px var(--gold);
  text-align: center;
  font-family: "Triforce";
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

#promo-image-container {
  display: flex;
  justify-content: center;
  position: relative;
}

#promo-main {
  display: block;
  width: 80%;
  max-width: 500px;
  border: 2px solid var(--gold);
  margin: 20px 0;
}

#description {
  font-family: "rodin-m";
  font-size: clamp(0.7rem, 1.5vw, 0.9rem);
  line-height: calc(clamp(0.7rem, 1.5vw, 0.9rem) * 1.2);
  letter-spacing: 0.3px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  padding: 14px 8px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: 2px solid rgba(0, 0, 0, 0.6);
}

/* Menu Section  */

.menu-item-wrapper {
  max-height: 100px;
  font-style: italic;
  font-size: clamp(0.7rem, 1.5vw, 0.9rem);
  line-height: calc(clamp(0.7rem, 1.5vw, 0.9rem) * 1.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: 2px solid rgba(0, 0, 0, 0.6);
  margin: 10px 0;
}

.menu-item-wrapper:hover {
  border: 2px solid rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px var(--gold);
}

.image-and-desc-wrapper {
  display: flex;
  align-items: center;
}

.food-icon {
  margin-right: 20px;
  width: clamp(3rem, 5.5vw, 6rem);
  height: clamp(3rem, 5.5vw, 6rem);
  object-fit: contain;
}

.item-name {
  margin-bottom: 15px;
  font-family: "rodin-db";
}

.item-desc {
  max-width: 400px;
  font-family: "rodin-m";
}

.price-wrapper {
  font-family: "rodin-m";
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.rupee {
  height: calc(clamp(0.7rem, 1.5vw, 0.9rem) * 1.5);
  margin-right: 5px;
}

/* Start Copyright Section  */

#copyright {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 600;
  font-size: 12px;
  font-family: Poppins;
  text-align: center;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
}

#copyright-link {
  color: inherit;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
}

#source-link {
  color: inherit;
  margin-left: 5px;
}

#source-link:hover {
  color: white;
}

#github-icon {
  font-size: 16px;
  text-decoration: none;
}

#github-icon:hover {
  color: white;
  transform: scale(1.1);
}
